<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{$aa}{$bb['name']}
<hr>
{:webmd5($admin)}
<hr>
{foreach $bb as $k=>$v }
    {$k}-{$v}
{/foreach}
<hr>
{if $bb.age == 123 } name
{elseif $aa > 24  /} demo
{else /} test
{/if}
<hr>
{$dd}
</body>
</html>